<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/img/waterfall-logo.png" alt="" width="80" height="80" class="img-fluid"/>Waterfall Enterprise
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/" data-i18n="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/" data-i18n="about">Who we are</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center gap-1" href="#" role="button" data-bs-toggle="dropdown">
            <i class="ph ph-globe"></i>
            <span data-i18n="language">Language</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <button class="dropdown-item" data-lang-select="en">🇬🇧 English</button>
            </li>
            <li>
              <button class="dropdown-item" data-lang-select="it">🇮🇹 Italiano</button>
            </li>
          </ul>
        </li>
        <li class="nav-item d-flex align-items-center">
          <button id="theme-toggle" class="btn">
            <i class="ph-fill ph-circle-half"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>